@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



body {
   font-family: "Roboto", sans-serif;
   color: #313131;
   background: #ccc;

}

.breadcrumb__items {
   display: inline-block;
}

.wrapper {
   margin: 60px;
   background-color: #fff;

}

.container {
   width: 1200px;
   margin-left: auto;
   margin-right: auto;
}

a:hover {
   color: #0c6140;
}

/* header starts here */
.header {
   box-shadow: 0 3px 3px#383838;
   position: relative;
   z-index: 1;
}

/* top bar starts here */
.top-bar {
   display: flex;
   justify-content: space-between;
   border-bottom: 1px solid #dfdfdf;
}

.top-bar__left {
   display: flex;
}

.top-bar__list {
   display: flex;
   align-items: center;
}

.top-bar__links {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 3px 19px;
   font-size: 16px;
}

.top-bar__links:hover {
   color: #08412b;
}

.top-bar__links i {
   padding: 10px;
}

.top-bar__btn {
   background-color: #0c6140;
   color: #ffffff;
   border: none;
   display: inline-block;
   padding: 13px;
}

.top-bar__right {
   display: flex;
   align-items: center;
   margin-right: 30px;
}

.top-bar__select {
   background-color: #fff;
   border: none;
   color: #313131;
}

.top-bar__select:hover {
   color: #08412b;
}

.top-bar__icons {
   padding: 10px;
}

.top-bar__icons:last-child {
   margin-right: 10px;
}

/* navbar starts here */
.nav {
   position: relative;
}

.nav-bar {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.nav__list {
   display: flex;
   align-items: center;
}

.nav__items {
   font-size: 16px;
   position: relative;
   letter-spacing: 2px;
   margin-left: 20px;
   padding-top: 38px;
   padding-bottom: 38px;
}

.nav__items:not(:last-child) {
   margin-right: 20px;
}

.nav__links {
   padding-top: 38px;
   padding-bottom: 38px;
}

.nav__links:hover {
   /* background-color: #ececec; */
   color: #0b5236;
}

.nav__drop {
   visibility: hidden;
   opacity: 0;
   overflow: hidden;
   width: 160px;
   position: absolute;
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
   box-shadow: 0 5px 5px rgba(82, 82, 82, 0.548);
   background: #fff;
   transition: all .2s ease-in-out;
   top: 100%;
}

.drop__items {
   letter-spacing: 0;
}

.nav__items:hover .nav__drop {
   visibility: visible;
   opacity: 1;
}

.drop__links {
   display: block;
   padding-top: 5px;
   padding-bottom: 5px;
   padding-left: 20px;
}

.drop__links:hover {
   background: #0c6140;
   color: white;
}

/* banner starts here */
.banner {
   background-color: #0b573a;
   background-image: url("/assets/Grow/Grow/testimonial-leaf-bg.png");
   background-repeat: no-repeat;
   background-size: 275px;
   background-position: 90% -100px;
   background-blend-mode: color-burn;
   color: #ffffff;
}

.flex-center {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.service-wrapper {
   padding-top: 50px;
   padding-bottom: 50px;
}

/* breadcrumbs */
.breadcrumbs {
   margin-top: 15px;
}

.breadcrumb__links {
   color: #ffffff;
}

.breadcrumb__items i {
   font-size: 12px;
}

/* content starts here */
.main-content {
   margin-top: 100px;
   margin-bottom: 30px;
}

.content-wrapper {
   display: flex;
   justify-content: center;
}

.site-content {
   width: 66.66%;
}

/* cards */
.card {
   display: flex;
   margin-bottom: 30px;
   color: #50524f;
}

.card:nth-child(even) .card__img{
   order: 2;
}

.card__text {
   width: 50%;
   padding: 25px;
}

.card__img {
   width: 50%;
}

.card__a {
   line-height: 0;
   position: relative;
   right: -15px;
   display: inline-block;
}

.card__info {
   text-align: center;
}

.card__info h2,
.card__info p {
   margin-bottom: 30px;
}

.card__btn {
   display: block;
   margin-left: auto;
   margin-right: auto;
   border: none;
   padding: 8px 15px;
   border-radius: 50px;
   text-align: center;
   width: 120px;
   background-color: #0b5236;
   color: #fff;
}

.card__btn:hover,
.top-bar__btn:hover {
   background-color: #08412b;
   color: #fff;
}
/* aside */
.sidebar {
   width: 33.33%;
   padding: 15px;
}

.form--wrapper {
   box-shadow: 0 5px 15px 10px #f7f7f7;
   margin-bottom: 60px;
}

.form__top {
   background-color: #0b573a;
   color: #ffffff;
}

.form__top i {
   font-size: 32px;
   margin-bottom: 15px;
}

.form {
   padding: 30px;
}

.form__input {
   position: relative;
   display: flex;
   align-items: center;
   margin-bottom: 18px;
}

.input,
.select {
   border-radius: 5px;
   border: 2px solid#7f9f94;
}

input::placeholder,
textarea::placeholder,
.select {
   color: #585858;
   opacity: 1;
}

.select {
   -webkit-appearance: none;
   -moz-appearance: none;
   background-color: #fff;
}

.textarea {
   border-radius: 5px;
   border: 2px solid #7f9f94;
   resize: none;
   padding: 10px;
}

.input:focus,
.select:focus,
.textarea:focus {
   outline: none;
}

.submit {
   background-color: #0b573a;
   border: none;
   border-radius: 25px;
   color: #ffffff;
   padding: 15px 40px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 20px;
}

.form__input input,
.form__input select,
.form__input textarea {
   width: 100%;
   padding: 15px;
}
.form__input textarea {
   padding-bottom: 50px;
}
.form__icon {
   position: absolute;
   right: 2px;
   padding: 0 10px;
   font-size: 20px;
   color: #747474;
   background-color: #fff;
}

.form__info {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding: 23px;
}

/* recent projects */
.projects {
   margin-top: 50px;
   row-gap: 10px;
}

.grid__title::after {
   content: "";
   display: block;
   background-color: #0e6b49;
   width: 50px;
   height: 4px;
   border-radius: 4px;
   margin-top: 25px;
   margin-bottom: 30px;
}

.project__grid {
   display: flex;
   flex-wrap: wrap;
   margin-left: -10px;
   margin-right: -10px;
   row-gap: 20px;
   line-height: 0;
}

.grid__img {
   width: 33.33%;
   padding-right: 10px;
   padding-left: 10px;
}

.grid-image img {
   width: 100%;
}

/* footer section starts here */
.footer {
   background-color: #101010;
   background-repeat: no-repeat;
   background-image: url(/assets/Grow/Grow/testimonial-leaf-bg.png), url(/assets/Grow/Grow/testimonial-leaf-bg.png), url(/assets/Grow/Grow/testimonial-leaf-bg.png);
   background-blend-mode: color-burn;
   background-position: 110% -200px, 50% 250px, -40px -250px;
   background-size: 400px, 200px, 400px;
   color: #fff;
   padding-top: 80px;
   padding-bottom: 20px;
}

.footer__logo {
   margin-bottom: 20px;
}

.footer p,
.footer a {
   color: #818181;
}

.footer__top {
   display: flex;
   border-bottom: 1px solid #7d7d7d;
   padding-bottom: 30px;
}

.footer__text {
   width: 35%;
}

.footer--list-wrapper {
   display: flex;
   width: 55%;
   padding-left: 30px;
   justify-content: center;
}

.footer__list {
   width: 25%;
   padding-right: 40px;
}

.footer__links {
   display: block;
}
/* footer bottom */
.footer__bottom {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 20px;
}

.footer__icons {
   display: flex;
}

.footer__icons a {
   color: #ffffff;
   padding: 10px;
}

.footer a:hover {
   color: #0b573a;
}